/*-----------------------------------CONTACTO-----------------------------------*/

.ask{
    text-align: center;
    font-size: 1rem;
    margin: 5px;
}
.formulario{
    @include flex (flex, center, center);
    .form{
        text-align: center;
        background-color: nth($colores , 4 );
        display: inline-block;
        margin: 20px;
        padding: 10px;
    }
}