/*-----------------------------------FOOTER-----------------------------------*/

footer{
    font-family: 'Poppins', sans-serif;
    background-color: nth($colores , 5);
    @include flex (flex, space-between, center);
    height: 150px;
    margin-top: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    
    div{
        p{
            text-align: left;
            margin: 15px;
        }
    }
    .redes{
        margin: 15px;
        a{
            img{
                width: 50px;
                height: 50px;
                margin: 5px;
                transition-property: scale;
                transition-duration: 300ms;
                &:hover{
                    scale: 1.2;
                }
            }
        }
    }
}