/*-----------------------------------TOUR-----------------------------------*/

section{
    div{
        .anos{
            list-style: none;
            @include flex (flex, space-around, center);
            flex-wrap: wrap;
            font-size: 2rem;
            li{
                background-color: nth($colores , 4);
                padding: 5px 10px 5px 10px;
                border-radius: 15%;
            }
        }
    }
    .gira{
        @include flex (flex, space-around, center);
        flex-wrap: wrap;
        margin: 10px;
    }
}