/*-----------------------------------TOUR-----------------------------------*/

section{
    div{
        .anos{
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            font-size: 2rem;
            li{
                background-color: nth($colores , 4);
                padding: 5px 10px 5px 10px;
                border-radius: 15%;
            }
        }
    }
    .gira{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin: 10px;
    }
}